*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.links-container{
    padding: 20px;
    display:flex;
    background-color: #1f2937;
    justify-content: space-around;
}

.header-links{
    display:flex;
    font-family: "Roboto" "Open Sans" "Noto Sans" "Times New Roman";
    color:white;
    gap:40px;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    justify-content:center;
    gap:100px;
    padding: 40px;
}

.text-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

.section-heading{
    font-family: "Hero";
    font-size: 48px;
    color:#F9FAF8;
}

.paragraph-heading{
    max-width: 500px;
    font-family: "Hero";
    font-size: 18px;
    color:#d1d1d1;
}

.button{
    font-family: "Hero";
    background-color: #3882F6;
    color:#e2e4e8;
    border-radius: 15%;
    height: 25px;
    width:90px;
    outline: none;
    border:none;
}

.images{
    display:flex;
}

.image{
    height:100px;
    width:100px;
    flex-direction: column;
}

