*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.links-container{
    padding: 20px;
    display:flex;
    background-color: #1f2937;
    justify-content: space-around;
}

.header-links{
    display:flex;
    font-family: "Roboto" "Open Sans" "Noto Sans" "Times New Roman";
    color:white;
    gap:40px;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    justify-content:center;
    gap:100px;
    padding: 40px;
}

.text-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

.section-heading{
    font-family: "Hero";
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.paragraph-heading{
    max-width: 500px;
    font-family: "Hero";
    font-size: 18px;
    color:#d1d1d1;
}

.button{
    font-family: "Hero";
    background-color: #3882F6;
    color:#e2e4e8;
    border-radius: 5px;
    height: 25px;
    width:90px;
    outline: none;
    border:none;
}

.images-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding:10px;
}

.images-header{
    font-family: "Segoe UI Rounded", "Arial Rounded MT Bold", Arial, sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.images-grid{
    display:flex;
    justify-content: space-around;
    gap:20px;
}

.image{
    width:200px;
    height:auto;
    flex-direction: column;
}

.image-description{
    max-width: 200px;
    color: #393a3b;
    font-family: "Hero";
}

.quote-container{
    background-color:#c2c4c8;
    display:flex;
    justify-content: center;
    padding:10px;
}
.quote-paragraph{
    max-width: 700px;
    font-size: 20px;
    font-family: "light italic" "Papyrus";
    color: #1F2937;
    padding:10px;
}

.author{
    align-self:last baseline;
}

.sign-up-container{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.sign-up-section{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    width: 750px;
    height:80px;
    border-radius: 10px;
    padding: 20px;
}

.call-text{
    font-family: "Hero";
    font-size: 20px;
    color:#F9FAF8;
    font-weight: 700;
}

.sign-up-message{
    font-family: "Hero";
    font-size: 15px;
    color:#ebecea;
    font-weight: 400;
}

.sign-up-button{
    background-color: #3882F6;
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    color:#F9FAF8;
    width:80px;
    height:25px;
    align-self: center;
}

.credits-section{
    justify-items: center;
    background-color: #1f2937;
    color:#ebecea;
    padding:20px;
}

