*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.links-container{
    display:flex;
    background-color: #1f2937;
}

.header-container{
    display: flex;
    background-color: #1f2937;
}

.button{
    border-radius: 50%;
}

.images{
    display:flex;
}

.image{
    height:100px;
    width:100px;
    flex-direction: column;
}

